@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --primary-color: #F8F8F8;
  --secondary-color: #070707;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  background: var(--primary-color);
  overflow-x: hidden;
  background: #f5f5f5;
}

/* Utilities */
ul { 
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #f4f4f4;
}

.btn {
  border: none;
  border-radius: 10px;
  padding: 1rem 2rem;
  cursor: pointer;
  color: #f4f4f4;
}

.xl-heading {
  font-size: 4rem;
  font-weight: 700;
}

.l-heading {
  font-size: 3rem;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  color: #f4f4f4;
  animation: hero .5s ease forwards;
}

.hero::before {
  content: '';
  position: absolute;
  top: -20vh;
  left: 0;
  width: inherit;
  height: 100vh;
  background: var(--secondary-color);
  z-index: -1;
  transform: skewY(-15deg);
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: inherit;
  height: 70px;
  padding: 1rem 2rem;
  background: var(--secondary-color);
}

.navbar .logo {
  height: 100%;
}

.navbar .logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.hero-content {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero-content > div {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 height: 75vh;
}

.hero-content .hero-heading > div {
  flex: 1 1 auto;
}

.hero-content .hero-heading > div:first-child {
  flex: 2;
  align-content: flex-end;
}

.hero-content .hero-heading .scroll-down {
  margin-top: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  animation: scroll-down 1.5s ease 1.5s forwards;
}

.hero-content .hero-heading .scroll-down::before {
  content: '';
  position: absolute;
  top: 2rem;
  width: 2px;
  height: 0;
  background: var(--primary-color);
  animation: scroll-down-line 1s ease 2s forwards;
  opacity: 0;
  border-radius: 5px;
}

.hero-content > div:nth-child(2) img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  opacity: 0;
  animation: main-image 1s ease 1s forwards;
}

/* Main */
.project-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-section {
  position: relative;
  padding: 1rem 2rem;
}

.container {
  margin: 2rem auto;
  padding: 2rem;
  width: 100%;
  max-width: 90vw;
  height: inherit;
  border: 1px solid #ccc;
  background: var(--primary-color);
  border-radius: 10px;
}

.container .row {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100%;
  gap: 1rem;
}

.column-1,
.column-2 {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
}

.column-1 {
  padding: 1rem;
  height: 90vh;
  position: sticky;
  top: 5vh;
}

.column-1 img {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1);
  transition: all 1s ease;
}

.column-1 img.show {
  transform: scale(1);
  opacity: 1;
  transition: all .5s ease .5s;
}

.column-2 {
  padding: 2rem;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.column-2 > div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
  height: 80vh;
}

.column-2 p {
  font-size: 1.5rem;
}

.column-2 img {
  display: none;
}

/* Skills */
.skills-container {
  display: flex;
  justify-content: center;
  padding: 2rem 3rem;
  width: 100%;
  height: 80vh;
  background: var(--primary-color);
}

.skills-container .skills {
  padding: 2rem 0;
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skills > div {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
  transition: all .5s ease;
}

.skills > div > .skill {
  opacity: 0;
  flex: 1 1 auto;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skills .skill .btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.skills > .show > .skill:nth-child(1) {
  animation: skill .5s ease forwards;
}

.skills > .show > .skill:nth-child(2) {
  animation: skill .5s ease .25s forwards;
}

.skills > .show > .skill:nth-child(3) {
  animation: skill .5s ease .5s forwards;
}

.skills > .show > .skill:nth-child(4) {
  animation: skill .5s ease .75s forwards;
}

.skills > .show > .skill:nth-child(5) {
  animation: skill .5s ease 1s forwards;
}

.skills > .show > .skill:nth-child(6) {
  animation: skill .5s ease 1.25s forwards;
}

.skills > div .btn {
  color: #333;
  opacity: .7;
  transition: .5s all ease;
}

.skills > div .skill .btn:hover {
  opacity: 1;
  color: #000;
}

/* Action */
.action {
  margin-top: 2rem;
  overflow: hidden;
  width: 100%;
  position: relative;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.action > div {
  align-content: center;
  height: 100%;
  padding: 3rem;
  flex: 1 1 100%;
}

.action .call-to-action > div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.action .call-to-action > div h2 {
  align-self: flex-start;
}

.action .call-to-action > div .btn {
  position: absolute;
  padding: 2rem;
  transition: 1s all ease;
}

.action .call-to-action > div .btn.layer {
  background: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.action .call-to-action > div .btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--secondary-color);
  z-index: 0;
  transform-origin: top;
  transform: scaleY(0);
  opacity: 0;
  pointer-events: none;
  border-radius: 10px;
  border: 1px solid var(--secondary-color);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.action .call-to-action > div .btn:hover::before {
  transform: scaleY(1);
  opacity: 1;
}

.action .call-to-action > div .btn:hover {
  color: #f4f4f4;
}

.action .call-to-action > div .btn span {
  position: relative;
  z-index: 1;
}

.action > div:nth-child(2) {
  position: relative;
  overflow: hidden;
}

.action .btn {
  /* background-color: var(--secondary-color); */
  border: 1px solid var(--secondary-color);
  color: #333;
}

.action > div:nth-child(2) {
  color: #f4f4f4;
  position: relative;
  background: var(--secondary-color);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.action > div:nth-child(2) > div {
  width: 100%;
  height: inherit;
}

.action > div:nth-child(2) > div::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50vw;
  height: 50vh;
  transform-origin: top left;
  background: #f4f4f4;
  transform: skewY(-25deg);
  z-index: 2;
}

.action > div:nth-child(2) > div > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 2rem;
}

.action > div:nth-child(2) > div > div > div {
  position: relative;
  text-align: center;
}

.action > div:nth-child(2) > div > div > div > h2:last-child {
  position: absolute;
  top: 0;
  opacity: 0;
  transition: .5s all ease;
}

.action > div:nth-child(2) > div > div > div > h2:first-child {
  transition: .5s all ease;
}

.action > div:nth-child(2) > div > div:hover > div > h2:last-child {
  opacity: 1;
}

.action > div:nth-child(2) > div > div:hover > div > h2:first-child {
  opacity: 0;
}

@keyframes hero {
  from {
    width: 0;
    opacity: 0;
  }

  to {
    width: 100%;
    opacity: 1;
  }
}

@keyframes main-image {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes scroll-down {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes scroll-down-line {
  from {
    height: 0;
    opacity: 0;
  }

  to {
    height: 120%;
    opacity: 1;
  }
}

@keyframes main-pict {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes image-box {
  0% {
    opacity: .5;
    width: 0;
  }

  10% {
    opacity: 1;
    transform: scaleY(1);
  }

  100% {
    width: 100%;
    opacity: 1;
    transform: scaleY(1);
  }
}

@keyframes image-box-left {
  0% {
    opacity: .5;
  }

  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}

@keyframes skill {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  25% {
    opacity: 1;
  }

  50% {
    transform: scale(1) translateY(-20px);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 1100px) {
  .xl-heading {
    font-size: 3rem;
  }
}

@media (max-width: 900px) {
  .xl-heading,
  .l-heading {
    font-size: 2rem;
  }

  .hero-content {
    gap: 1rem;
  }

  .content-section .column-1 {
    top: 10vh;
    height: 80vh;
  }

  .content-section p {
    font-size: 1rem;
  }

  .skills .skill i {
    font-size: 4rem;
  }

  .action {
    height: 80vh;
    margin: 0;
    flex-direction: column;
  }

  .action .call-to-action {
    width: 100%;
    padding: 0;
  }

  .action .call-to-action div {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .action .call-to-action div h2,
  .action .call-to-action div .btn {
    margin: 1rem;
    flex: 1 1 100%;
    align-self: center;
  }

  .action div:nth-child(2) {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
  }

  .action div:nth-child(2) > div > div {
    justify-content: center;
    align-items: center;
  }

  .action div:nth-child(2) > div::before {
    display: none;
  }

  .action div:nth-child(2) > div > div > div {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    gap: 1rem;
  }

  .action div:nth-child(2) > div > div > div > h2 {
    flex: 1 1 100%;
    align-content: flex-end;
  }

  .action > div:nth-child(2) > div > div {
    pointer-events: none;
  }

  .action > div:nth-child(2) > div > div > div > h2:last-child {
    position: static;
    align-content: flex-start;
    opacity: 1;
  }
}

@media (max-width: 500px) {
  .xl-heading, .l-heading {
    font-size: 1.5rem;
  }

  .hero::before {
    top: -1rem;
  }

  .hero-content {
    margin-top: 150px;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .hero-content > div {
    height: 50vh;
  }

  .hero-content .hero-heading > div {
    flex-basis: 100%;
  }

  .column-1 {
    display: none;
  }

  .column-2 {
    gap: 50px;
    padding: 1rem 0;
  }

  .column-2 > div {
    align-items: center;
    height: 100%;
  }

  .column-2 > div img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
  }

  .column-2 > div p {
    font-size: 14px;
  }

  .skills-container,
  .skills-container .skills {
    padding: 0 1rem;
  }

  .skills-container .skills .skill {
    width: 100%;
    max-width: 100px;
  }

  .skills-container .skills .skill h2 {
    font-size: 16px;
  }

  .footer h2 {
    font-size: 1rem;
    margin: 1rem;
  }
}